{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js">
		</script>
		<script type="text/javascript" src="../../static/javascript/handle_tab.js">
		</script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../static/css/resize.css">
		<link rel="stylesheet" href="../../static/css/base.css">
		<link rel="stylesheet" href="../../static/css/background.css">
	</head>

	<body>
		<div class="home_content">
			{% include "blog/title_for_home.html" %}
			{% include "blog/menu.html" %}
			<div id ="tab" class="tab">
				<button id="defaultSelected" onclick="openTab(event, 'Newsfeed')">Newsfeed</button>
			  	<button onclick="openTab(event, 'Utilities')">Utilities</button>
			  	<button id="other_info_btn" onclick="openTab(event, 'Other Info')">Other Info</button>

				{% include "blog/newsfeed.html" %}
				<script>
					// Get the element with id="defaultOpen" and click on it
					document.getElementById("defaultSelected").click();
				</script>

				<div id="Utilities" class="tabcontent">
			  		<h3>Utilities</h3>
			  		<p>Tabela intretinere.</p>
				</div>
				{% include "blog/other_info.html"%}

			</div>
			

		</div>
	</body> 
</html>