{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../static/css/resize.css">
		<link rel="stylesheet" href="../../static/css/login.css">
		<link rel="stylesheet" href="../../static/css/background.css">
		<title> SmartBlock </title>
	</head>
	<body class="contents">
		{% include "blog/title.html" %}
		<div class="left-login">
			<img class="logo_img" src="../../static/img/logo.png">
		</div>
		<div class="right-login">
			{% block login %}
			{% endblock %}
		</div>
	</body>
</html>