{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<title> SmartBlock </title>
	</head>
	<body class="contents">
		{% include "blog/title.html" %}
		<div class="left-login">
			<img class="img1" src="../../static/img/utilities.jpg" >
			<img class="img2" src="../../static/img/post.jpg">
			<img class="img3" src="../../static/img/post1.jpg">
		</div>
		<div class="right-login">
			{% block login %}
			{% endblock %}
		</div>
	</body>
</html>