<link rel="stylesheet" href="../../static/css/meniu.css">
<script type="text/javascript" src="../../static/javascript/profilePopup.js">
</script>
<div class="menu">
	<h3>
		Hello, <span>{{user.username}}<span>!
	</h3>
	<h4>
		Notification!
	</h4>
	<div class = "myAcc">
		<div id="idAccPopup" class="myAccPopup" onclick="openPopup()">
			<p class="myAccText">My Profile</p>	
			<img class="myAccImg" src="../../static/img/profile.png">
		</div>
	</div>
	<div id="profilePopup" class="overlay">
		<div class="popup">
			<a class="close" href="">&times;</a>
			{% include "blog/profile.html" %}
		</div>
	</div>
</div>