<link rel="stylesheet" href="../../static/css/newsfeed.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js">
</script>
<p>
	<div id="Newsfeed" class="tabcontent">
		<div id="News" class="news">
			<h3>Newsfeed</h3>
			<div>
				<form id="add_post_form" class="add_post_form">
  					<textarea class="add_post_text_area" type="text" name="firstname" placeholder="Add your post here..." wrap="hard" rows="8" maxlength="1000">
  					</textarea>
  				</form>

				<script type="text/javascript">
					$('.add_post_text_area').autogrow();
				</script>

				
			</div>

		</div>

		<div id="Polls" class="polls">
			<h3>Polls</h3>
			<p>See the polls.</p>
		</div>
	</div>
</p>



