<link rel="stylesheet" href="../../static/css/profile.css">
<div class="popupContent">
	<img class="profileImage" src="../../static/img/profile.png">
	<h1>{{user.username}}</h1>
	<form class="profileForm" action="{% url 'home' %}" method="POST">
		{% csrf_token %}
		{% for key in keys_list %}
			<div class="keyProfile">
				<input type="text" value="{{ key.name }}" disabled="True">
				<select name="keyset">
					{% if key.owner == user %}
						{% if key.is_used %}
							<option name="keyset" value="{{ key.name }}-not_at_me" disabled>Not at me</option>
							<option name="keyset" value="{{ key.name }}-at_me_using_it" selected>At me, using it</option>
							<option name="keyset" value="{{ key.name }}-at_me_not_using_it">At me, not using it</option>
						{% else %}
							<option name="keyset" value="{{ key.name }}-not_at_me" disabled>Not at me</option>
							<option name="keyset" value="{{ key.name }}-at_me_using_it" >At me, using it</option>
							<option name="keyset" value="{{ key.name }}-at_me_not_using_it" selected>At me, not using it</option>
						{% endif %}
					{% else %}
						<option name="keyset" value="{{ key.name }}-not_at_me" selected disabled>Not at me</option>
						<option name="keyset" value="{{ key.name }}-at_me_using_it">At me, using it</option>
						<option name="keyset" value="{{ key.name }}-at_me_not_using_it">At me, not using it</option>
					{% endif %}
				</select>
			</div>
		{% endfor %}
    	<!-- {{ form_my_profile.name }} -->
    	<input type="submit" value="Save"/>
	</form>
</div>