<tr>
	<td>
		TOTAL
	</td>
	<td>
		{{total_pers_to_send}}
	</td>
	<td>
		1.00
	</td>
	<td>
		{{current_common_bill.cons_apa_rece}}
	</td>
	<td>
		{{current_common_bill.apa_rece}}
	</td>
	<td>
		{{current_common_bill.cons_apa_calda}}
	</td>
	<td>
		{{current_common_bill.apa_calda}}
	</td>
	<td>
		{{current_common_bill.gaze}}
	</td>
	<td>
		{{current_common_bill.energie_electrica_parti_comune}}
	</td>
	<td>
		{{current_common_bill.intretinere_interfon}}
	</td>
	<td>
		{{current_common_bill.deseuri_menajere}}
	</td>
	<td>
		{{current_common_bill.salarii_bloc}}
	</td>
	<td>
		{{current_common_bill.incalzire_curenta}}
	</td>
	<td>
		{{current_common_bill.intretinere_lift}}
	</td>
	<td>
		{{current_common_bill.cheltuieli_neprevazute}}
	</td>
	<td>
		{{total_luna_curenta_to_send}}
	</td>
	<td>
		{{total_debt_to_send}}
	</td>
	<td>
		{{total_total_to_send}}
	</td>
</tr>