<tr>
	   			<td>
	   				{{user_line.user}}
	   			</td>
	   			<td>
	   				{{user_line.user.no_of_persons}}
	   			</td>
	   			<td>
	   				{{user_line.user.surface_factor}}
	   			</td>
	   			<td>
	   				{{user_line.consum_apa_rece}}
	   			</td>
	   			<td>
	   				{{user_line.apa_rece}}
	   			</td>
	   			<td>
	   				{{user_line.consum_apa_calda}}
	   			</td>
	   			<td>
	   				{{user_line.apa_calda}}
	   			</td>
	   			<td>
	   				{{user_line.gaze}}
	   			</td>
	   			<td>
	   				{{user_line.energie_parti_comune}}
	   			</td>
	   			<td>
	   				{{user_line.interfon}}
	   			</td>
	   			<td>
	   				{{user_line.deseuri_menajere}}
	   			</td>
	   			<td>
	   				{{user_line.salarii}}
	   			</td>
	   			<td>
	   				{{user_line.caldura}}
	   			</td>
	   			<td>
	   				{{user_line.lift}}
	   			</td>
	   			<td>
	   				{{user_line.cheltuieli_neprevazute}}
	   			</td>
	   			<td>
	   				{{user_line.total_luna_curenta}}
	   			</td>
	   			<td>
	   				{{user_line.restante}}
	   			</td>
	   			<td>
	   				{{user_line.total}}
	   			</td>
		  	</tr>