<link rel="stylesheet" href="../../static/css/utilities.css">
<div id="Utilities" class="tabcontent">
	<div class="utilities-contents">
		<form method="POST">
			{% csrf_token %}
			<label for="apa_rece"> Apa Rece:
				<input id="apa_rece" type="number" step="0.001" name="water_index_cold">
			</label>
			<label for="apa_calda"> Apa Calda:
				<input id="apa_calda" type="number" step="0.001" name="water_index_hot">
			</label>
			<input type="submit" value="Submit">
		</form>
		<div class="utilities_table">
				<table>
					{% include 'blog/utilities_header.html' %}
					{% if not current_common_bill == None %}
						{% for user_line in last_utility_table %}
							{% if request.user == user_line.user %}
								<tr style="font-weight:bold">
									{% include 'blog/utilities_container.html' %}
								</tr>
							{% else %}
								<tr>
									{% include 'blog/utilities_container.html' %}
								</tr>
							{% endif %}
						{% endfor %}
						{% include 'blog/utilities_totals.html' %}
					{% endif %}
				</table>
		</div>
	</div>
</div>