<td>
	{{user_line.user}}
</td>
<td>
	{{user_line.user.no_of_persons}}
</td>
<td>
	{{user_line.user.surface_factor}}
</td>
<td>
	{{user_line.consum_apa_rece|floatformat:3}}
</td>
<td>
	{{user_line.apa_rece|floatformat:2}}
</td>
<td>
	{{user_line.consum_apa_calda|floatformat:3}}
</td>
<td>
	{{user_line.apa_calda|floatformat:2}}
</td>
<td>
	{{user_line.gaze|floatformat:2}}
</td>
<td>
	{{user_line.energie_parti_comune|floatformat:2}}
</td>
<td>
	{{user_line.interfon|floatformat:2}}
</td>
<td>
	{{user_line.deseuri_menajere|floatformat:2}}
</td>
<td>
	{{user_line.salarii|floatformat:2}}
</td>
<td>
	{{user_line.caldura|floatformat:2}}
</td>
<td>
	{{user_line.lift|floatformat:2}}
</td>
<td>
	{{user_line.cheltuieli_neprevazute|floatformat:2}}
</td>
<td>
	{{user_line.total_luna_curenta|floatformat:2}}
</td>
<td>
	{{user_line.restante|floatformat:2}}
</td>
<td>
	{{user_line.total|floatformat:2}}
</td>
