<tr>
   			<th>
   				User
   			</th>
   			<th>
   				Nr. pers.
   			</th>
   			<th>
   				Surface factor
   			</th>
   			<th>
   				Cold water cons.
   			</th>
   			<th>
   				Cold water cost
   			</th>
   			<th>
   				Hot water cons.
   			</th>
   			<th>
   				Hot water cost
   			</th>
   			<th>
   				Gas
   			</th>
   			<th>
   				Common space el.
   			</th>
   			<th>
   				Interphone
   			</th>
   			<th>
   				Garbage
   			</th>
   			<th>
   				Salaries
   			</th>
   			<th>
   				Heating
   			</th>
   			<th>
   				Lift
   			</th>
   			<th>
   				Unexpected expenses
   			</th>
   			<th>
   				Curr. month total
   			</th>
   			<th>
   				Debt
   			</th>
   			<th>
   				Total
   			</th>
	  	</tr>