.contents {
	width: 100%;
	height: 100%;
	min-width: 50%;
	min-height: 50%;
	max-width:100%;
    max-height:100%;
	overflow: scroll;
}

.right-login {
	width: 50%;
	height: 100%;
	top: 0px;
	left: 50%;
	position:fixed;
	min-width: 50%;
	min-height: 50%;
	max-width:100%;
    max-height:100%;
}

.left-login {
	width: 50%;
	height: 100%;
	top: 0px;
	left: 0px;
	position:fixed;
	min-width: 50%;
	min-height: 50%;
	max-width:100%;
    max-height:100%;
}

.logo_img {
	position: fixed;
	display: block;
	top: 40%;
	left:15%;
	height: 40%;
	width: 30%;
}

.center {
	margin: 0px;
    padding: 0px;
	width: 50%;
	height: 30%;
    position:relative;
    left:25%;
    top:40%;
}

.form_content {
	background-color: #BBDEFB;
	border: 2px solid #004C8C;
	border-radius: 5%;
	padding-bottom: 10px;
	padding-top: 10px;
}

.form_content p label {
	display: none;
}

.form_content p input {
	width: 90%;
	height: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 80%;
	border-radius: 20px;
	color: #1A237E;
}

.form_content p input:placeholder {
	color: #004C8C;
	margin-top: 3%;
	margin-left: 3%;
	font-size: 80%;
	opacity: 0.8;
}


.login-button {
	text-align: center;
	display: block;
	color: #0277BD;
	margin: 5% auto;
	background-color: #BBDEFB;
	border: 1px solid #004C8C;
	border-radius: 15%;
	font-size: 80%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
} 

.login-button:hover {
	border: 3px solid #004C8C;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	font-size: 100%;
}

.login_profile_img {
	height: 30%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}