.news {
	text-align: center;
	width: 50%;
	height: 75%;
	top: 0%;
	left: 0%;
    display: flex;
    flex-direction: column;
    float: left;
}

.polls {
	width: 50%;
	height: 75%;
	top: 0%;
	left: 0%;
	border:none;
    display: flex;
    flex-direction: column;
}

.add_post_form {
	flex-grow: 0;
	width: 100%;
	display: inline-block;
}

.form-content {
	flex-grow: 0;
	font-size: 80%;
	width: 100%;
}

.form-content textarea {
    outline: none;
    border-top-left-radius: 10px;
    color: #004C8C;
	width: 90%;
	resize: none;
}

.form-content textarea:focus {
	border: 0.2vmin solid #004C8C;
	width: 90%;
	resize: none;
}

.add_post_btn_container {
	width: 95%;
	height: 20%;
}

.add_post_btn {
	display: none;
	position: relative;
	float: right;
	font-size: 75%;
	color: #0277BD;
	margin: 1% auto;
	background-color: #BBDEFB;
	border: 1px solid #004C8C;
	border-radius: 15%;
	padding: 0.5% 1.5%;
}

.add_post_btn:hover {
	color: #E8EAF6;
	background-color: #004C8C;
}

.newsfeed_and_poll_posts {
	flex-grow: 2;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 2%;
	overflow-y: scroll;
}

.newsfeed_and_poll_post {
	border: 1px solid #004C8C;
	border-top-left-radius: 10px;
	font-size: 70%;
	top: 5%;
	margin: 2% 0;
	width: 90%;
}

.newsfeed_and_poll_post_header {
	padding: 1% 0;
	background-color: #004C8C;
	border-top-left-radius: 10px;
}

.newsfeed_and_poll_post_header h5 {
	margin: 0;
	margin-left: 5%;
	text-align: left;
	color: #E8EAF6;
}

.newsfeed_and_poll_post_content {
	margin: 0;
	padding: 0;
	display: inline;
	text-align: left;
}

.newsfeed_and_poll_post_content p {
	padding: 1% 1% 0.5% 3%;
	color: #004C8C;
}

.poll_choices {
	display: inline-block;
	width: 65%;
	padding: 1% 1% 0.5% 3%;
	color: #004C8C;
}

.poll_vote_btn_format {
	float: right;
	width: 20%;
}

.poll_vote_btn {
	float: right;
	font-size: 100%;
	color: #0277BD;
	margin: 1% auto;
	background-color: #BBDEFB;
	border: 1px solid #004C8C;
	border-radius: 15%;
	padding: 0.5% 1.5%;
}

.poll_vote_btn:hover {
	color: #E8EAF6;
	background-color: #004C8C;
}
.wrapword {
	white-space: pre-wrap;
	word-break: break-all;
}
