.news {
	text-align: center;
	width: 50%;
	height: 75%;
	top: 0%;
	left: 0%;
    display: flex;
    flex-direction: column;
    float: left;
}

.polls {
	width: 50%;
	height: 75%;
	top: 0%;
	left: 0%;
	border:none;
    display: flex;
    flex-direction: column;
}

.newsfeed_posts {
	flex-grow: 2;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 2%;
	overflow-y: scroll;
}

.newsfeed_post {
	border: 1px solid #004C8C;
	border-top-left-radius: 10px;
	font-size: 70%;
	top: 5%;
	margin: 2% 0;
	width: 90%;
}

.post_header {
	padding: 1% 0;
	background-color: #004C8C;
	border-top-left-radius: 10px;
}

.post_header h5 {
	margin: 0;
	margin-left: 5%;
	text-align: left;
	color: #E8EAF6;
}

.post_content {
	text-align: left;
	margin-left: 2.5%;
}

.poll_posts {
	flex-grow: 2;
	display: flex-block;
    flex-direction: column;
    justify-content: space-around;
	margin-top: 2%;
	overflow-y: scroll;
}

.poll_post {
	border: solid 1% black;
	background-color: white;
	font-size: 70%;
	top: 5%;
	padding: 1% 2%;
	margin: 1% 0;
	width: 90%;
}

.add_post_btn_container {
	width: 95%;
	height: 20%;
}

.add_post_btn {
	display: none;
	position: relative;
	float: right;
	font-size: 75%;
	color: #0277BD;
	margin: 1% auto;
	background-color: #BBDEFB;
	border: 1px solid #004C8C;
	border-radius: 15%;
	padding: 0.5% 1.5%;
}

.add_post_btn:hover {
	color: #E8EAF6;
	background-color: #004C8C;
}

.add_post_form {
	flex-grow: 0;
	width: 100%;
	display: inline-block;
}

.form-content {
	flex-grow: 0;
	font-size: 80%;
	width: 100%;
}

.form-content textarea{
    outline: none;
	border-radius: 5%;
	width: 90%;
	resize: none;
}

.form-content textarea:focus{
	border: 0.2vmin solid #004C8C;
	width: 90%;
	resize: none;
}