.other-info-contents {
	width:  100%;
	height : 100%;
	position: relative;
/*	top: -7px;*/
	margin: 0;
	left: 0;
}

.other-info-contents .top-left {
	width: 50%;
	height: 40%;
	float: left;
	text-align: center;
	font-size: 80%;
}

.other-info-contents .top-right {
	width: 50%;
	height: 40%;
	float: left;
	text-align: center;
	font-size: 80%;
}

.other-info-contents .bottom-left {
	width: 50%;
	height: 40%;
	float: left;
	text-align: center;
	font-size: 80%;
}

.other-info-contents .bottom-right {
	width: 50%;
	height: 40%;
	float: left;
	text-align: center;
	font-size: 80%;
}

.other-info-contents button {
	display: block;
	color: #004C8C;
	width: 100%;
	height: 100%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 200%;
}

#key_info {
	font-size: 150%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	color: #004C8C;
	width: 100%;
	height: 100%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
}

#imp_dates_info {
	font-size: 150%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	color: #004C8C;
	width: 100%;
	height: 100%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
}

#imp_contact_info {
	font-size: 150%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	color: #004C8C;
	width: 100%;
	height: 100%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
}

#other_contact_info {
	font-size: 150%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	color: #004C8C;
	width: 100%;
	height: 100%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
}