.popupContent {
	width: 100%;
	height: 100%;
	text-align: center;
}

.profileImage {
	width: 15%;
	height: 25%;
}

.popupContent h1 {
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #004C8C;
	font-weight: bold;
}

.popupContent .profileForm {
	margin: 3%;
	text-align: center;
}

.popupContent .keyProfile {
	margin: 1%;
	text-align: center;
	font-size: 70%;
}

.popupContent .keyProfile h1 {
	display: inline;
	font-size: 140%;
	width: 30%;
	color: #004C8C;
	margin-right: 10px;
}

.popupContent .keyProfile select {
	color: #004C8C;
	display: inline;
	height: 10%;
	font-size: 120%;
}

.save_keys_btn {
	position: relative;
	font-size: 100%;
	color: #0277BD;
	margin: 1% auto;
	background-color: #BBDEFB;
	border: 1px solid #004C8C;
	border-radius: 15%;
	padding: 0.5% 1.5%;
}

.save_keys_btn:hover {
	color: #E8EAF6;
	background-color: #004C8C;
}

.save_keys_btn:active {
	font-size: 95%;
}