.utilities-contents {
	width: 100%;
	height: 100%;
}

.utilities-contents form label, input {
	font-size: 90%;
}

.utilities-contents label {
	color: #004C8C;
}

.utilities-contents input[type='number'] {
	border: 1px solid #58A5F0;
    border-radius: 4px;
	color: #58A5F0;
}

.add_indexes_btn {
	position: relative;
	font-size: 75%;
	color: #0277BD;
	margin: 1% auto;
	background-color: #BBDEFB;
	border: 1px solid #004C8C;
	border-radius: 15%;
	padding: 0.5% 1.5%;
}

.add_indexes_btn:hover {
	color: #E8EAF6;
	background-color: #004C8C;
}

.watermeter-button {
	border: none;
	background-color: transparent;
}

.utilities-contents table {
	width: 95%;
	text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.utilities-contents table, th, td {
    border: 1px solid #004C8C;
    text-align: center;
}

.utilities-contents th {
	border-left: 1px solid black;	
	border-right: 1px solid black;	
	background-color: #004C8C;
	color: #E8EAF6;
	font-size: 65%;
	padding: 0px 10px;
}

.utilities-contents td {
	font-size: 60%;
}

.utilities-contents tr:last-of-type {
	font-weight: bold;
}

.utilities-contents .utilities_table {
	margin-top: 5px;
	text-align: center;
	width: 100%;
	height: 65%;
	bottom: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}