.utilities-contents {
	width: 100%;
	height: 100%;
}

table {
	width: 95%;
	text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #004C8C;
    text-align: center;
}

th {
	border-left: 1px solid black;	
	border-right: 1px solid black;	
	background-color: #004C8C;
	color: #E8EAF6;
	font-size: 65%;
	padding: 0px 10px;
}

td {
	font-size: 60%;
}

tr:last-of-type {
	font-weight: bold;
}

.utilities_table {
	text-align: center;
	width: 100%;
	height: 65%;
	bottom: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}